html,
body {
	max-height: 100vh;
	overflow: hidden;
}

.carousel-caption-1 {
	bottom: 32%;
	z-index: 10;
}

.carousel-caption-3 {
	bottom: 20%;
	z-index: 10;
}

.carousel-inner .item {
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-img-1 {
	background: url(../images/b1.jpg) no-repeat center center fixed;
}

.carousel-img-2 {
	background: url(../images/b2.jpg) no-repeat center center fixed;
}

.carousel-img-3 {
	background: url(../images/b3.jpg) no-repeat center center fixed;
}
